
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  /* text-decoration: none; */
}

html{
  font-size: 1.2rem;
}

button{
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

a{
  color: #4E8EF5;
}

/* HEADER */

header{
  padding: 1.5rem 0.5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: white;
}

/* NAV */

nav div > img{
  margin-right: 1rem;
  cursor: pointer;
}

nav div > span{
  margin: 0 1rem;
  cursor: pointer;
}

.start{ 
  padding: 0.5rem 1rem;
  background-color: #0061ff;
  color: white;
  cursor: pointer;
}

/* JUMBOTRON */

.jumbotron{
  background-color: #B4D0E7;
  margin-top: 100px;
}

.jumbo-container{
  margin: 3rem 0 0 0;
}

.jumbo-container span{
  margin-top: 2rem;
}

.jumbo-container p{
  cursor: pointer;
}

.jumbotron h1{
  font-size: 4.5rem;
  padding-top: 2rem;
}

.jumbo-img > img{
  width: 120%;
  position: absolute;
}

.fa-arrow-down{
  margin: 4rem 0 1rem 0;
  font-size: 3rem;
}

/* MAIN */

main{
  height: 400vh;
}

.sottotitolo h2{
  font-size: 2.5em;
  margin: 2.5em 0 2.4rem 0;
}

.sottotitolo input{
  margin: 0 0 3rem 0;
}

.sottotitolo div{
  display: inline-block;
  margin-right: 2rem;
}

.head{
  border-bottom: 1px solid lightgray;
  padding: 0.5rem;
  text-align: center;
}

.space-bar{
  width: 2rem;
  height: 1px;
  background-color: lightgray;
}

.fa-check{
  color: #4E8EF5;
}

.columns h3{
  margin-bottom: 1rem;
}

.columns p{
  margin-bottom: 0.5rem;
}

.column-top{
  margin-bottom: 2.5rem;
}

.columns div ul > li{
  margin-bottom: 1.2rem;
}

.column-list-top{
  margin-bottom: 3rem;
}

.link{
  margin: 2rem 0;
}

.link span{
  margin-bottom: 1rem;
}

.link .space-bar{
  margin-top: 2rem;
}

.column-list-btm ul > li{
 margin: 1.5rem 0;
}

.contact{
  text-align: center;
  padding: 0.5rem 4rem;
  background-color: #0061ff;
  color: white;
  cursor: pointer;
  margin: 0 0 0 0.3rem;
}






/* FOOTER */
