
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

html{
  font-size: 1.2rem;
}

button{
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

/* HEADER */

header{
  padding: 1.5rem 0.5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: white;
}

/* NAV */

nav div > img{
  margin-right: 1rem;
  cursor: pointer;
}

nav div > span{
  margin: 0 1rem;
  cursor: pointer;
}

.start{ 
  padding: 0.5rem 1rem;
  background-color: #0061ff;
  color: white;
}

/* JUMBOTRON */

.jumbotron{
  background-color: #B4D0E7;
  margin-top: 100px;
}

.jumbo-container{
  margin: 3rem 0 0 0;
}

.jumbo-container span{
  margin-top: 2rem;
}

.jumbo-container p{
  cursor: pointer;
}

.jumbotron h1{
  font-size: 4.5rem;
  padding-top: 2rem;
}

.jumbo-img > img{
  width: 120%;
  position: absolute;
}

.fa-arrow-down{
  margin: 4rem 0 1rem 0;
  font-size: 3rem;
}

/* MAIN */



/* FOOTER */
