
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html{
  font-size: 1.2rem;
}

button{
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

a{
  color: #4E8EF5;
}

/* HEADER */

header{
  /* padding: 1.5rem 0.5rem; */
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: white;
}

/* NAV */

/* NAV-HOVER */
  
nav div > span:hover{
  box-shadow: 0px 5px blue;
  
}

/* NAV-HOVER */

nav div > img{
  margin-right: 1rem;
  cursor: pointer;
  padding-left: 1rem;
}

nav div > span{
  margin: 0 1rem;
  cursor: pointer;
  position: relative;
  padding: 2.1rem 0;
}

.start{ 
  padding: 0.5rem 1rem;
  background-color: #0061ff;
  color: white;
  cursor: pointer;
  display: inline-block;
}

/* JUMBOTRON */

.jumbotron{
  background-color: #B4D0E7;
  margin-top: 100px;
}

.p-relative-jumbo{
  position: relative;
  top: 70px;
}

.jumbo-container{
  margin: 3rem 0 0 0;
}

.jumbo-container span{
  margin-top: 2rem;
}

.jumbo-container p{
  cursor: pointer;
}

.jumbotron h1{
  font-size: 4.5rem;
  padding-top: 2rem;
}

.jumbo-img > img{
  width: 120%;
}

.fa-arrow-down{
  margin: 4rem 0 1rem 0;
  font-size: 3rem;
}

/* MAIN */

/* PRIMA SEZIONE */

.sottotitolo h2{
  font-size: 2.5em;
  margin: 2.5em 0 2.4rem 0;
}

.sottotitolo input{
  margin: 0 0 3rem 0;
}

.sottotitolo div{
  display: inline-block;
  margin-right: 2rem;
}

.head{
  border-bottom: 1px solid lightgray;
  padding: 0.5rem;
  text-align: center;
}

.space-bar{
  width: 2rem;
  height: 1px;
  background-color: lightgray;
}

.fa-check{
  color: #4E8EF5;
}

.columns h3{
  margin-bottom: 1rem;
}

.columns p{
  margin-bottom: 0.5rem;
}

.column-top{
  margin-bottom: 2.5rem;
}

.columns div ul > li{
  margin-bottom: 1.2rem;
  text-indent: -0.5rem;
  padding-left: 1.1rem;
}

.column-list-top{
  margin-bottom: 3rem;
}

.link{
  margin: 2rem 0;
}

.link span{
  margin-bottom: 1rem;
}

.link .space-bar{
  margin-top: 2rem;
}

.column-list-btm ul > li{
 margin: 1.5rem 0;
}

.contact{
  text-align: center;
  padding: 0.5rem 4rem;
  background-color: #0061ff;
  color: white;
  cursor: pointer;
  margin: 0 0 0 0.3rem;
  display: inline-block;
}

/* FINE PRIMA SEZIONE */

/* INIZIO SECONDA SEZIONE */

.team{
  margin-top: 3rem;
  border: 1px solid lightgray;
}

.team div > h3{
  margin-bottom: 1.5rem;
}

.team .flex-basis60 > span{
  font-weight: bold;
}

.team .flex-basis60 > p{
  margin-top: 2.5rem;
}

/* FINE SECONDA SEZIONE */

/* INIZIO TERZA SEZIONE */

.cont-partner{
  margin-top: 7rem;
}

.cont-partner div > img{
  width: 100%;
}

.section3-left{
  padding: 3rem 0 0 2rem;
}

.section3-left h3{
  margin-bottom: 1.5rem;
}

.section3-left p{
  margin-bottom: 2rem;
}

.btn-partner{
  padding: 0.5rem;
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
}

/* FINE TERZA SESSIONE */

/* INIZIO QUARTA SEZIONE */

.img-carta > img{
  width: 100%;
}

.section-h3{
  margin: 5rem 0 2rem 0;
  font-size: 2rem;
}

.carta{
  margin: 2rem 0 0 0;
}

.carta div > h2{
  margin-bottom: 1.5rem;
}

.business h3{
  margin: 7rem 0 3rem;
  font-size: 2rem;
 }
 
/* FINE QUARTA SEZIONE */

/* INIZIO QUINTA SEZIONE */

.box{
  width: calc( 100% / 2 );
  height: calc( 100vw / 6);
}

.logo5 > img{
  width: 45%;
}

.divisor{
  height: 1px;
  width: 6rem;
  background-color: lightgray;
  margin: 2.5rem 0;
}

.section5-center{
 background-color: #F5F5F5 ;
}

.section5-center div > p{
 margin: 0 0 2rem 0;
}

.section5{
  margin: 6rem 0 0 0;
}

.box img{
  width: 50%;
  filter: invert(1);
}

.scroll{
  overflow: scroll;
  width: calc( 100vw / 3);
  height: calc( 100vw / 3);
}

/* COLORI */

.verde{
  background-color: #a2d39b;
  box-shadow: inset 0px 2px 0px 20px #D1E9CD;
}

.bordeux{
  background-color: #61082B;
}

.azzurro{
  background-color: #0093CE;
}

.rosso{
  background-color: #FF1C1C;
}

.rosso-scuro{
  background-color: #D5001F;
}

.celeste{
  background-color: #B4D0E7;
}

.blue{
  background-color: #0D2481;
}

.giallo{
  background-color: #FFD830;
}

/* COLORI */

/* FINE SEZIONE CINQUE */

/* INIZIO SEZIONE SEI */

.bg-lightblue{
  background-color: #B4D0E7;
}

.section6-right h3{
  font-size: 2em;
  color: #61082B;
}

.cont-section6{
  padding: 6rem 0;
}

.section6-left{
  padding-left: 10rem;
}

/* FINE SEZIONE SEI */

/* INIZIO SEZIONE SETTE */

.cont-section7 div > p{
  display: none;
  margin-top: 1.5rem;
}

.fa-angle-up{
  padding-right: 2rem;
  display: none;
}


.cont-section7{
  margin: 5rem auto;
  width: 50%;
}

.cont-section7 div > span{
  font-weight: bold;
}

.divisor7{
  height: 2px;
  width: 100%;
  background-color: lightgray;
  margin: 1.5rem 0;
}

.h3-font{
  font-size: 2rem;
  margin-bottom: 3rem;
}

.fa-angle-down{
  padding-right: 2rem;
}

/* HOVER */

.mini-cont:hover p{
  display: block;
}

.mini-cont:hover .fa-angle-up{
  display: block;
}

.mini-cont:hover .fa-angle-down{
  display: none;
}

/* HOVER */

/* FINE SEZIONE SETTE */

/* FOOTER */

footer{
  background-color: #000000;
  color: white;
}

.footer-cont{
  padding: 5rem 0;
}

.footer-cont div ul > li{
  margin: 0 0 1rem 0;
  cursor: pointer;
}

.footer-cont div > h4{
  margin-bottom: 2rem;
}

.divider-footer{
  height: 2px;
  width: 4rem;
  background-color: #DCDCDC;
  margin: 3rem 0;
}

.lingua-footer{
  color: #DCDCDC ;
}

.lingua-footer span{
  margin: 0 0.5rem;
}

/* HOVER */

.footer-cont div ul > li:hover{
  text-shadow: 0px 0px 8px white;
}

/* HOVER */

/* FINE-FOOTER */