
.text-al-center{
    text-align: center;
}

.border-lightgray{
    border: 1px solid lightgray;
}

.container-80{
    width: 80%;
    margin: 0 auto;
}

.container-60{
    width: 60%;
    margin: 0 auto;
}

.container-50{
    width: 50%;
    margin: 0 auto;
}

.margin-top-s{
    margin-top: 2rem;
}

.margin-top-m{
    margin-top: 4rem;
}

.margin-top-l{
    margin-top: 6rem;
}

.padding-s{
    padding: 1rem;
}

.p-relative{
    position: relative;
}

.flex{
    display: flex;
}

.flex-basis60{
    flex-basis: 60%;
}

.flex-basis40{
    flex-basis: 40%;
}

.flex-basis30{
    flex-basis: 30%;
}


.wrap{
    flex-wrap: wrap;
}

.flex-d-col{
     flex-direction: column;
}

.justify-start{
    justify-content: flex-start;
}

.justify-center{
    justify-content: center;
}

.justy-end{
    justify-content: flex-end;
}
  
.justy-s-between{
    justify-content: space-between;
}
  
.justy-s-around{
    justify-content: space-around;
}

.align-items-start{
    align-items: flex-start;
}

.align-items-center{
    align-items: center;
}

.align-items-end{
    align-items: flex-end;
}

.align-content-center{
  align-content: center;
}